<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{auth/lib.html :: lib}">
    <title>Đăng nhập</title>
</head>
<body>
<div class="row vh-100 g-0">
    <!-- Left side -->
    <div class="col-lg-6 position-relative d-none d-lg-block">
        <div class="bg-holder" >
        </div>
    </div>
    <!-- /Left side -->

    <!-- Right side -->
    <div class="col-lg-6">
        <div class="row align-items-center justify-content-center h-100 g-0 px-4 px-sm-0">
            <div class="col col-sm-6 col-lg-8 col-xl-6 shadow-lg p-5 rounded">
                <!-- Logo -->
                <a href="" class="d-flex justify-content-center mb-4">
                    <img src="" alt="" width="60">
                </a>
                <!-- /Logo -->

                <div class="text-center mb-5">
                    <h3 class="fw-bold">ĐĂNG NHẬP</h3>
                </div>

                <!-- Social login -->
                <button class="btn btn-lg btn-outline-secondary btn-outline-custom w-100 mb-3" onclick="window.location.href='/oauth2/authorization/google'">
                    <i class="bx bxl-google text-danger me-1 fs-6"></i><span>Đăng nhập với Google</span>
                </button>
                <button class="btn btn-lg btn-outline-secondary btn-outline-custom w-100" onclick="window.location.href='/oauth2/authorization/facebook'">
                    <i class="bx bxl-facebook text-primary me-1 fs-6"></i><span>Đăng nhập với facebook</span>
                </button>
                <!-- /Social login -->

                <!-- Divider -->
                <div class="position-relative">
                    <hr class="text-secondary divider">
                    <div class="text-secondary">
                        <div class="divider-content-center">hoặc</div>
                    </div>
                </div>
                <!-- /Divider -->

                <!-- Form -->
                <form th:action="@{/auth/login}" method="post">
                    <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="bx bx-user"></i>
                            </span>
                        <input type="text" class="form-control form-control-lg fs-6" name="username" id="username" placeholder="Tên người dùng">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="bx bx-lock-alt"></i>
                        </span>
                        <input type="password" class="form-control form-control-lg fs-6" name="password" id="password" placeholder="Mật khẩu">
                        <span class="input-group-text" onclick="togglePassword()">
                            <i class="bx bx-show" id="togglePassword"></i>
                        </span>
                    </div>
                    <div class="input-group mb-3 md-flex justify-content-between">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="remember-me" name="remember-me">
                            <label class="form-check-label text-secondary" ><small>Remember Me</small></label>

                        </div>
                        <div>
                            <small><a th:href="@{/auth/forgot-password}">Quên mật khẩu?</a></small>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg w-100">
                        Login
                    </button>
                </form>
                <!-- /Form -->

                <div class="text-center mt-2">
                    <small>Bạn chưa có tài khoản?
                        <a th:href="@{/auth/register}" class="fw-bold">Đăng ký</a>
                    </small>
                </div>

                <!-- Error message section -->
                <!-- Error message section -->
                <div class="mt-2">
                    <!-- Error cho local login -->
                    <div th:if="${param.error != null and param.message == null}"
                         class="alert alert-danger" role="alert">
                        Tên đăng nhập hoặc mật khẩu không đúng!
                    </div>

                    <!-- Error cho OAuth2 -->
                    <div th:if="${param.error != null and param.message != null}"
                         class="alert alert-warning" role="alert">
                        <span th:text="${#strings.unescapeJava(param.message)}"></span>
                    </div>

                    <!-- Hiển thị lỗi từ session nếu có -->
                    <div th:if="${session.oauth2Error != null}" th:with="error=${session.oauth2Error}"
                         class="alert alert-warning" role="alert">
                        <span th:text="${error}"></span>
                    </div>

                    <!-- Logout message -->
                    <div th:if="${param.logout}"
                         class="alert alert-success" role="alert">
                        Bạn đã được đăng xuất!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Right side -->

<script>
    function togglePassword() {
        const passwordInput = document.getElementById('password');
        const toggleIcon = document.getElementById('togglePassword');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            toggleIcon.classList.remove('bx-show');
            toggleIcon.classList.add('bx-hide');
        } else {
            passwordInput.type = 'password';
            toggleIcon.classList.remove('bx-hide');
            toggleIcon.classList.add('bx-show');
        }
    }
</script>

</body>
</html>


