<!DOCTYPE html>
<html lang="en">
<head th:replace="~{auth/lib.html :: lib}">
  <meta charset="UTF-8">
  <title>Xác thực</title>
</head>
<body>
<!--<div th:replace="~{fragment/header.html :: header}"></div>-->
<!-- Password Reset 13 - Bootstrap Brain Component -->
<section class="bg-light py-3 py-md-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
        <div class="card border border-light-subtle rounded-3 shadow-sm">
          <div class="card-body p-md-4">
            <div class="text-center mb-3">
              <a href="#!">
                <img th:src="@{/img/Logo_Text.png}" alt="BootstrapBrain Logo" style="width: max-content; height: 180px">
              </a>
            </div>
            <form th:action="@{/auth/verify-token}" method="post">
              <div class="row gy-2 overflow-hidden">
                <div class="col-12">
                  <div class="form-floating">
                    <input type="text" class="form-control" name="resetPasswordToken" id="resetPasswordToken" placeholder="" required>
                    <label for="resetPasswordToken" class="form-label text-secondary">Mã xác thực</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-grid my-3">
                    <button class="btn btn-primary btn fs-5" type="submit">Xác thực</button>
                  </div>
                </div>
              </div>
              <div th:if="${errorMessage}" class="alert alert-danger fs-6 mt-2 text-center" role="alert">
                <span th:text="${errorMessage}"></span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--<div th:replace="~{fragment/footer.html :: footer}"></div>-->
</body>
</html>