<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{admin/index.html :: lib}"></head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <th:replace th:replace="~{admin/index.html :: sidebar}" ></th:replace>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <th:replace th:replace="~{admin/index.html :: navbar}" ></th:replace>

    <!-- Main Content -->
    <div id="content">
      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
          <div class="col-md-6">
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Product Management</h1>
          </div>
          <div class="col-md-6">
            <div class="d-flex justify-content-end mb-3">
              <form th:action="@{/admin/products/search}" method="get" class="form-inline" id="searchForm">
                <div class="input-group">
                  <input type="text" class="form-control bg-gray-400 border-0 small" placeholder="Search by product name..."
                         aria-label="Search" aria-describedby="basic-addon2" name="q" id="search" th:value="${param.q}">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button" id="searchButton">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="d-flex justify-content-end" id="error-message" style="color: red; display: none;"></div>
          </div>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <a href="/admin/add" class="btn btn-primary">Add Product</a>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead class="text-center">
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Numbers</th>
                    <th>Image</th>
                    <th>Link</th>
                    <th>Price</th>
                    <th>Discount</th>
                    <th>Promotion Price</th>
                    <th>Category</th>
                    <th>IsDeleted</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tfoot class="text-center">
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Numbers</th>
                    <th>Image</th>
                    <th>Link</th>
                    <th>Price</th>
                    <th>Discount</th>
                    <th>Promotion Price</th>
                    <th>Category</th>
                    <th>IsDeleted</th>
                    <th>Action</th>
                  </tr>
                </tfoot>
                <tbody>
                <tr th:each="product : ${products}">
                  <td th:text="${product.id}"></td>
                  <td th:text="${product.name}"></td>
                  <td th:text="${product.nums}"></td>
                  <td th:text="${product.img}"></td>
                  <td th:text="${product.link}"></td>
                  <td th:text="${product.price}"></td>
                  <td th:text="${product.discount}"></td>
                  <td th:text="${product.getPromotionPrice()}"></td>
                  <td th:text="${product.category.name}"></td>
                  <td th:text="${product.isDeleted()}"></td>
                  <td>
                    <div class="text-center">
                      <a th:href="@{/admin/edit/{id}(id=${product.id})}" class="btn btn-success btn-sm mb-2" style="width: 59px !important;">Edit</a>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- Pagination -->
            <div class="d-flex justify-content-between">
              <div>
                <span th:text="'Page ' + ${products.number + 1} + ' of ' + ${products.totalPages}"></span>
              </div>
              <div>
                <ul class="pagination">
                  <!-- Phân trang cho kết quả tìm kiếm -->
                  <th:block th:if="${isSearchResult}">
                    <li class="page-item" th:classappend="${products.first} ? 'disabled'">
                      <a class="page-link" th:href="@{/admin/products/search(q=${q},page=${products.number - 1}, size=${products.size})}">Previous</a>
                    </li>
                    <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, products.totalPages - 1)}"
                        th:classappend="${pageNum == products.number} ? 'active'">
                      <a class="page-link" th:href="@{/admin/products/search(q=${q},page=${pageNum}, size=${products.size})}"
                         th:text="${pageNum + 1}"></a>
                    </li>
                    <li class="page-item" th:classappend="${products.last} ? 'disabled'">
                      <a class="page-link" th:href="@{/admin/products/search(q=${q},page=${products.number + 1}, size=${products.size})}">Next</a>
                    </li>
                  </th:block>

                  <!-- Phân trang cho danh sách tất cả sản phẩm -->
                  <th:block th:unless="${isSearchResult}">
                    <li class="page-item" th:classappend="${products.first} ? 'disabled'">
                      <a class="page-link" th:href="@{/admin/products(page=${products.number - 1}, size=${products.size})}">Previous</a>
                    </li>
                    <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, products.totalPages - 1)}"
                        th:classappend="${pageNum == products.number} ? 'active'">
                      <a class="page-link" th:href="@{/admin/products(page=${pageNum}, size=${products.size})}"
                         th:text="${pageNum + 1}"></a>
                    </li>
                    <li class="page-item" th:classappend="${products.last} ? 'disabled'">
                      <a class="page-link" th:href="@{/admin/products(page=${products.number + 1}, size=${products.size})}">Next</a>
                    </li>
                  </th:block>
                </ul>
              </div>
            </div>
            <!-- End of Pagination -->
          </div>
        </div>

      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Your Website 2020</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<th:replace th:replace="~{admin/index.html :: logout}" ></th:replace>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/admin/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/admin/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/admin/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/admin/vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/admin/js/demo/chart-area-demo.js}"></script>
<script  th:src="@{/admin/js/demo/chart-pie-demo.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/admin/js/demo/datatables-demo.js}"></script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const searchButton = document.getElementById('searchButton');
    const searchForm = document.getElementById('searchForm');
    const searchInput = document.getElementById('search');
    const errorMessage = document.getElementById('error-message');

    searchButton.addEventListener('click', function(e) {
      e.preventDefault();
      if (searchInput.value.trim() === '') {
        errorMessage.textContent = 'Please enter a product name.';
        errorMessage.style.display = 'block';
      } else {
        errorMessage.style.display = 'none';
        searchForm.submit();
      }
    });

    searchInput.addEventListener('keypress', function(e) {
      if (e.key === 'Enter') {
        e.preventDefault();
        searchButton.click();
      }
    });
  });
</script>

</body>
</html>