<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:fragment th:fragment="lib">
        <title>Mixture's Pet Paradise</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" th:href="@{/img/apple-icon.png}">
        <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.png}">

        <!-- Start CSS -->
        <link th:href="@{/css/styles.css}" rel="stylesheet">
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/css/styles.css}" rel="stylesheet">
        <link th:href="@{/css/fontawesome.css}" rel="stylesheet">
        <link th:href="@{/css/fontawesome.min.css}" rel="stylesheet">
        <link th:href="@{/css/slick.min.css}" rel="stylesheet">
        <link th:href="@{/css/slick-theme.min.css}" rel="stylesheet">
        <link th:href="@{/css/templatemo.css}" rel="stylesheet">
        <link th:href="@{/css/templatemo.min.css}" rel="stylesheet">
        <link th:href="@{'https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,700&display=swap'}" rel="stylesheet">
        <!-- End CSS -->

        <!-- Start Script -->
        <script type="application/javascript" th:src="@{/js/jquery-1.11.0.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
        <script type="text/javascript" th:src="@{/js/slick.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/templatemo.js}"></script>
        <script type="text/javascript" th:src="@{/js/templatemo.min.js}"></script>
        <!-- End Script -->
    </th:fragment>
</head>
<body>
<!-- Không có nội dung ở đây -->
</body>
</html>