/*
Custom Css
*/

.navbar{
    background-color: #06D001;
}

#templatemo_main_nav .flex-fill ul li a{
    font-weight: bold !important;
}

.us_section .us_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

.us_section .us_container .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.us_section .us_container .box img {
    max-width: 100%;
}

.us_section .us_container .box .img1-box {
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.us_section .us_container .box .img2-box {
    width: 175px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.us_section .us_container .box .detail-box {
    margin-top: 15px;
}

.us_section .us_container .box .detail-box h6 {
    text-transform: uppercase;
    font-weight: bold;
    color: #0e0e0e;
}

.us_section .us_container::before {
    content: "";
    position: absolute;
    bottom: 25.2%;
    left: 50%;
    width: 80%;
    height: 1.5px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, #e7d619));
    background-image: linear-gradient(to right, transparent 50%, #e7d619 50%);
    background-size: 20px 100%;
    z-index: -1;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-animation: border-dance 4s infinite linear;
    animation: border-dance 4s infinite linear;
}

/* dropdown user */
.btn-dropdown{
    background-color: #06D001;
    color: #06D001;
    border: none;
    padding: 0;
}
.dropbtn {
    background-color: #06D001;
    color: white;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #06D001;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 10px 0 10px 10px;
    background-color: #000000;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 4px 0 0 -160px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    position: relative;
    display: block;
    font-size: 15px !important;
}
.dropdown-content a:hover {
    background-color: #fff;
}

/* bỏ viền khi nhấn vào button */
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled){
    outline: none !important;
}
.show {
    display: block;
}


/* product */

.card-body {
    height: 175px !important;  /* Ensure the card body takes full height */
    display: flex !important;
    flex-direction: column !important;
}
.card-body a {
    flex: 1 !important; /* Allow the product name link to expand vertically */
    display: flex !important;
    align-items: center !important; /* Center the product name vertically */
}
.promotion-price{
    color: #E10600;
}
.discount-item{
    font-size: 14px;
    color: #E10600;
    background-color: #FFD8D7;
    border-radius: 0 0 5px 0;
}
.percent{
    margin-left: -3px;
}
/*autocomplete*/
/*chỉnh sửa cho autocomplete*/

.autocomplete-suggestions {
    position: absolute;
    width: 100%;
    top: calc(100% + 5px); /* Hiển thị ngay dưới thanh search và có khoảng cách 5px */
    max-height: 438px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid white;
    border-radius: 4px;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);*/
    z-index: 1000;
}

.autocomplete-suggestions .list-group {
    margin: 0;
    padding: 0;
    list-style: none;
}

.autocomplete-suggestions .list-group-item {
    cursor: pointer;
    padding: 10px 15px;
}

.autocomplete-suggestions .list-group-item:hover,
.autocomplete-suggestions .list-group-item.active {
    background-color: #f5f5f5;
}