<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragment/lib.html :: lib}"></head>

<body>
    <!-- Header -->
    <div th:replace="~{fragment/header.html :: header}"></div>
    <!-- Close Header -->

<!--    &lt;!&ndash; Modal &ndash;&gt;-->
<!--    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--        <div class="modal-dialog modal-lg" role="document">-->
<!--            <div class="w-100 pt-1 mb-5 text-right">-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--            </div>-->
<!--            <form action="" method="get" class="modal-content modal-body border-0 p-0">-->
<!--                <div class="input-group mb-2">-->
<!--                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">-->
<!--                    <button type="submit" class="input-group-text bg-success text-light">-->
<!--                        <i class="fa fa-fw fa-search text-white"></i>-->
<!--                    </button>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->



    <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                        <img th:src="@{'/img/' + ${product.img}}" class="card-img-top" alt="Product Image">
                    </div>

                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h6 th:text="${product.name}"></h6>
                            <p>

                                <span class="h3 py-2" th:text="${product.promotionPrice}"></span> | <span style="text-decoration: line-through;" th:text="${product.price}"></span>

                            </p>

                            <p class="py-2">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <span class="list-inline-item text-dark">Rating 4.8 | 36 Comments</span>
                            </p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Brand:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>Easy Wear</strong></p>
                                </li>
                            </ul>

                            <h6 th:text="'Description: ' + ${product.description}"></h6>


                            <form action="" method="GET">
                                <input type="hidden" name="product-title" value="Activewear">
                                <div class="row">
                                    <div class="col-auto">
                                        <ul class="list-inline pb-3">
                                            <li class="list-inline-item"> Nums :
                                                <input type="hidden" name="product-size" id="product-size" value="S">
                                            </li>
                                            <li class="list-inline-item"><span class="btn btn-success" th:text="${product.nums}"></span></li>

                                        </ul>
                                    </div>
                                    <div class="col-auto">
                                        <ul class="list-inline pb-3">
                                            <li class="list-inline-item text-right">
                                                Quantity
                                                <input type="hidden" name="product-quanity" id="product-quanity" value="1">
                                            </li>
                                            <li class="list-inline-item"><span class="btn btn-success" id="btn-minus">-</span></li>
                                            <li class="list-inline-item"><span class="badge bg-secondary" id="var-value">1</span></li>
                                            <li class="list-inline-item"><span class="btn btn-success" id="btn-plus">+</span></li>
                                        </ul>
                                    </div>
                                    <p>
                                        Tổng số tiền: <span class="h3 py-2">$25.00</span>
                                    </p>

                                </div>
                                <div class="row pb-3">
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-success btn-lg" name="submit" value="buy">Buy</button>
                                    </div>
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-success btn-lg" name="submit" value="addtocard">Add To Cart</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Close Content -->




    <!-- Start Footer -->
    <div th:replace="~{fragment/footer.html :: footer}"></div>
    <!-- End Footer -->

<!--    &lt;!&ndash; Start Slider Script &ndash;&gt;-->
<!--    <script src="assets/js/slick.min.js"></script>-->
<!--    <script>-->
<!--        $('#carousel-related-product').slick({-->
<!--            infinite: true,-->
<!--            arrows: false,-->
<!--            slidesToShow: 4,-->
<!--            slidesToScroll: 3,-->
<!--            dots: true,-->
<!--            responsive: [{-->
<!--                    breakpoint: 1024,-->
<!--                    settings: {-->
<!--                        slidesToShow: 3,-->
<!--                        slidesToScroll: 3-->
<!--                    }-->
<!--                },-->
<!--                {-->
<!--                    breakpoint: 600,-->
<!--                    settings: {-->
<!--                        slidesToShow: 2,-->
<!--                        slidesToScroll: 3-->
<!--                    }-->
<!--                },-->
<!--                {-->
<!--                    breakpoint: 480,-->
<!--                    settings: {-->
<!--                        slidesToShow: 2,-->
<!--                        slidesToScroll: 3-->
<!--                    }-->
<!--                }-->
<!--            ]-->
<!--        });-->
<!--    </script>-->
<!--    &lt;!&ndash; End Slider Script &ndash;&gt;-->

<!--</body>-->

<!--</html>-->


<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<!--<head th:replace="~{fragment/lib.html :: lib}"></head>-->

<!--<body>-->
<!--&lt;!&ndash; Header &ndash;&gt;-->
<!--<div th:replace="~{fragment/header.html :: header}"></div>-->
<!--&lt;!&ndash; Close Header &ndash;&gt;-->

<!--&lt;!&ndash; Product Details &ndash;&gt;-->
<!--<section class="py-5">-->
<!--    <div class="container my-4">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-6">-->
<!--                <div class="card mb-4 shadow-sm">-->
<!--                    <img th:src="@{'/img/' + ${product.img}}" class="card-img-top" alt="Product Image">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-6">-->
<!--                <h2 th:text="${product.name}"></h2>-->
<!--                <p class="lead" th:text="${product.description}"></p>-->
<!--                <p>Quantity: <span th:text="${product.nums}"></span></p>-->
<!--                <p>Price: <span th:text="${product.price}"></span></p>-->
<!--                &lt;!&ndash; You can add more details here as needed &ndash;&gt;-->
<!--                <div>-->
<!--                    <a href="/cua-hang" class="btn btn-secondary">Back to Shop</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--&lt;!&ndash; End Product Details &ndash;&gt;-->

<!--&lt;!&ndash; Start Brands &ndash;&gt;-->
<!--<section class="bg-light py-5">-->
<!--    &lt;!&ndash; Brand section content (if any) &ndash;&gt;-->
<!--</section>-->
<!--&lt;!&ndash; End Brands &ndash;&gt;-->

<!--&lt;!&ndash; Start Footer &ndash;&gt;-->
<!--<div th:replace="~{fragment/footer.html :: footer}"></div>-->
<!--&lt;!&ndash; End Footer &ndash;&gt;-->
<!--</body>-->

<!--</html>-->
